html {
  @apply bg-kimberly-50 dark:bg-kimberly-800;
}

.width-sizer {
  @apply max-w-7xl px-2 sm:px-6 lg:px-8;
}

.h-header {
  @apply sm:flex mt-2 items-center justify-between text-center text-kimberly-900 dark:text-kimberly-100;
  /* @apply sm:flex sm:w-full mt-2 items-center justify-between text-center text-kimberly-900 dark:text-kimberly-100 ; */
  transition: 0.3s ease;
  @apply pb-2;

  @apply md:pt-20;
}
/* .container {
  @apply width-sizer mx-auto;
} */

.content-padding {
  @apply md:px-4;
}

/* .page-enter-active {
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.page-leave-active {
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.page-enter,
.page-leave-to {
  transform: translateY(-1.5vh);
  opacity: 0;
  filter: blur(1px);
} */

*::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
  border-bottom-right-radius: 8px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;
}

.scroll::-webkit-scrollbar {
  width: 12px;
  background-color: #0000002f;
  border-radius: 8px;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.575);
}

.resize-observer[data-v-8859cc6c] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  pointer-events: none;
  display: block;
  overflow: hidden;
  opacity: 0;
}
.resize-observer[data-v-8859cc6c] object {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}
.v-popper {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.v-popper__popper {
  z-index: 10000;
}
.v-popper__popper.v-popper__popper--hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}
.v-popper__popper.v-popper__popper--shown {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}
.v-popper__popper.v-popper__popper--skip-transition,
.v-popper__popper.v-popper__popper--skip-transition > .v-popper__wrapper {
  transition: none !important;
}
.v-popper__inner {
  position: relative;
}
.v-popper__arrow-container {
  width: 10px;
  height: 10px;
}
.v-popper__arrow,
.v-popper__arrow-border {
  border-style: solid;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
.v-popper__arrow {
  border-width: 0px;
}
.v-popper__arrow-border {
  visibility: hidden;
  border-width: 0px;
}
.v-popper__popper[data-popper-placement^="bottom"] .v-popper__arrow,
.v-popper__popper[data-popper-placement^="bottom"] .v-popper__arrow-border,
.v-popper__popper[data-popper-placement^="top"] .v-popper__arrow,
.v-popper__popper[data-popper-placement^="top"] .v-popper__arrow-border {
  left: -1px;
}
.v-popper__popper[data-popper-placement^="top"] .v-popper__arrow,
.v-popper__popper[data-popper-placement^="top"] .v-popper__arrow-border {
  border-bottom-width: 0;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}
.v-popper__popper[data-popper-placement^="top"] .v-popper__arrow {
  top: -1px;
}
.v-popper__popper[data-popper-placement^="bottom"] .v-popper__arrow-container {
  top: 0;
}
.v-popper__popper[data-popper-placement^="bottom"] .v-popper__arrow,
.v-popper__popper[data-popper-placement^="bottom"] .v-popper__arrow-border {
  border-top-width: 0;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
}
.v-popper__popper[data-popper-placement^="bottom"] .v-popper__arrow {
  top: -5px;
}
.v-popper__popper[data-popper-placement^="bottom"] .v-popper__arrow-border {
  top: -0px;
}
.v-popper__popper[data-popper-placement^="left"] .v-popper__arrow,
.v-popper__popper[data-popper-placement^="left"] .v-popper__arrow-border,
.v-popper__popper[data-popper-placement^="right"] .v-popper__arrow,
.v-popper__popper[data-popper-placement^="right"] .v-popper__arrow-border {
  top: -1px;
}
.v-popper__popper[data-popper-placement^="right"] .v-popper__arrow,
.v-popper__popper[data-popper-placement^="right"] .v-popper__arrow-border {
  border-left-width: 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}
.v-popper__popper[data-popper-placement^="right"] .v-popper__arrow {
  left: -5px;
}
.v-popper__popper[data-popper-placement^="right"] .v-popper__arrow-border {
  left: -0px;
}
.v-popper__popper[data-popper-placement^="left"] .v-popper__arrow-container {
  right: -10px;
}
.v-popper__popper[data-popper-placement^="left"] .v-popper__arrow,
.v-popper__popper[data-popper-placement^="left"] .v-popper__arrow-border {
  border-right-width: 0;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}
.v-popper__popper[data-popper-placement^="left"] .v-popper__arrow {
  left: -1px;
}
.v-popper--theme-dropdown .v-popper__inner {
  padding: 24px;
  border-radius: 0px;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
}
.v-popper--theme-tooltip .v-popper__inner {
  color: #fff;
  border-radius: 0px;
  padding: 7px 12px 0px;
}
