html {
  scroll-behavior: smooth;
}

.guccho-legacy {
  .v-popper {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .v-popper__popper {
    z-index: 10000;
  }
  .v-popper__popper.v-popper__popper--hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }
  .v-popper__popper.v-popper__popper--shown {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
  .v-popper__popper.v-popper__popper--skip-transition,
  .v-popper__popper.v-popper__popper--skip-transition > .v-popper__wrapper {
    transition: none !important;
  }
  .v-popper__inner {
    position: relative;
  }
  .v-popper__arrow-container {
    width: 10px;
    height: 10px;
  }
  .v-popper__arrow,
  .v-popper__arrow-border {
    border-style: solid;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }
  .v-popper__arrow {
    border-width: 0px;
  }
  .v-popper__arrow-border {
    visibility: hidden;
    border-width: 0px;
  }
  .v-popper__popper[data-popper-placement^="bottom"] .v-popper__arrow,
  .v-popper__popper[data-popper-placement^="bottom"] .v-popper__arrow-border,
  .v-popper__popper[data-popper-placement^="top"] .v-popper__arrow,
  .v-popper__popper[data-popper-placement^="top"] .v-popper__arrow-border {
    left: -1px;
  }
  .v-popper__popper[data-popper-placement^="top"] .v-popper__arrow,
  .v-popper__popper[data-popper-placement^="top"] .v-popper__arrow-border {
    border-bottom-width: 0;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
  }
  .v-popper__popper[data-popper-placement^="top"] .v-popper__arrow {
    top: -1px;
  }
  .v-popper__popper[data-popper-placement^="bottom"]
    .v-popper__arrow-container {
    top: 0;
  }
  .v-popper__popper[data-popper-placement^="bottom"] .v-popper__arrow,
  .v-popper__popper[data-popper-placement^="bottom"] .v-popper__arrow-border {
    border-top-width: 0;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
  }
  .v-popper__popper[data-popper-placement^="bottom"] .v-popper__arrow {
    top: -5px;
  }
  .v-popper__popper[data-popper-placement^="bottom"] .v-popper__arrow-border {
    top: -0px;
  }
  .v-popper__popper[data-popper-placement^="left"] .v-popper__arrow,
  .v-popper__popper[data-popper-placement^="left"] .v-popper__arrow-border,
  .v-popper__popper[data-popper-placement^="right"] .v-popper__arrow,
  .v-popper__popper[data-popper-placement^="right"] .v-popper__arrow-border {
    top: -1px;
  }
  .v-popper__popper[data-popper-placement^="right"] .v-popper__arrow,
  .v-popper__popper[data-popper-placement^="right"] .v-popper__arrow-border {
    border-left-width: 0;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
  }
  .v-popper__popper[data-popper-placement^="right"] .v-popper__arrow {
    left: -5px;
  }
  .v-popper__popper[data-popper-placement^="right"] .v-popper__arrow-border {
    left: -0px;
  }
  .v-popper__popper[data-popper-placement^="left"] .v-popper__arrow-container {
    right: -10px;
  }
  .v-popper__popper[data-popper-placement^="left"] .v-popper__arrow,
  .v-popper__popper[data-popper-placement^="left"] .v-popper__arrow-border {
    border-right-width: 0;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
  }
  .v-popper__popper[data-popper-placement^="left"] .v-popper__arrow {
    left: -1px;
  }
  .v-popper--theme-dropdown .v-popper__inner {
    padding: 24px;
    border-radius: 0px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
  }
  .v-popper--theme-tooltip .v-popper__inner {
    color: #fff;
    border-radius: 0px;
    padding: 7px 12px 0px;
  }
}

body {
  @apply bg-gbase-50 dark:bg-gbase-800;
}
body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @apply bg-gradient-to-b from-gbase-50 to-gbase-100/75 dark:from-gbase-800 dark:to-gbase-900 -z-50;
}

dialog {
  @apply bg-transparent p-0 m-0 mx-auto;
  &::backdrop {
    @apply bg-transparent;
  }
}

.username {
  @apply text-4xl lg:text-5xl;
}

.g-link-style {
  @apply underline decoration-sky-500 text-gbase-600 dark:text-gbase-300 hover:text-gbase-500;
}

.g-link {
  @apply text-xl md:text-2xl lg:text-3xl;
  @apply g-link-style;
}

.two-tone {
  @apply relative;
  &::before {
    @apply absolute top-0 left-0 right-0 bottom-0 -z-10;
    @apply rounded-2xl;
    content: "";
    background: linear-gradient(
      110deg,
      transparent,
      theme("colors.gbase.200 / 30%") 16.6%,
      theme("colors.gbase.300 / 50%") 16.7%,
      theme("colors.gbase.300 / 60%") 83.3%,
      theme("colors.gbase.200 / 30%") 83.4%,
      transparent 100%
    );
    @media (prefers-color-scheme: dark) {
      background: linear-gradient(
        110deg,
        transparent,
        theme("colors.gbase.700 / 30%") 16.6%,
        theme("colors.gbase.700 / 50%") 16.7%,
        theme("colors.gbase.700 / 60%") 83.3%,
        theme("colors.gbase.700 / 30%") 83.4%,
        transparent 100%
      );
    }
  }
}

.hover-floating {
  @apply transition-transform;
  &:hover {
    transform: translateY(-3%);
  }
}

.safari .safari-performance-boost {
  @apply max-h-screen;

  .editor__content {
    @apply overflow-y-auto;
  }
}

.custom-container {
  @apply max-w-7xl lg:px-4;
}
