.v-popper--theme-guweb-dropdown-b {
  &[data-popper-placement^="bottom"] {
    .v-popper__inner {
      @apply rounded-b-box;
    }
  }

  .v-popper__arrow-outer {
    visibility: hidden;
  }
  .v-popper__arrow-inner {
    visibility: hidden;
  }

  .v-popper__inner {
    @apply backdrop-blur-md shadow-xl mx-2 border-[1px] border-t-0;
    @apply border-gbase-50/30 dark:border-gbase-500/30;
    @apply bg-gbase-100/80 dark:bg-gbase-700/80;
    @apply backdrop-blur-md shadow-xl;
    @apply backdrop-saturate-[0.9] backdrop-brightness-[0.95];
    @apply dark:backdrop-saturate-[1] dark:backdrop-brightness-[1];
  }
}

.v-popper--theme-guweb-dropdown {
  .v-popper__arrow-outer {
    visibility: hidden;
  }
  .v-popper__arrow-inner {
    visibility: hidden;
  }
  .v-popper__inner {
    @apply rounded-box;
  }
  .v-popper__inner {
    @apply backdrop-blur-lg shadow-xl mx-2;
    @apply backdrop-saturate-[0.9] backdrop-brightness-[0.95];
    @apply dark:backdrop-saturate-[1] dark:backdrop-brightness-[1];
  }
}
