.slide-enter-active {
  animation: moveFromRight 0.5s ease both;
}
.slide-leave-active {
  animation: moveToLeft 0.2s ease-in-out both;
}

@keyframes moveToLeft {
  from {
  }
  to {
    transform: translateX(-0.6vw) scaleX(1.005);
    transform-origin: 0%;
    opacity: 0;
  }
}

@keyframes moveFromRight {
  from {
    transform: translateX(0.6vw) scaleX(1.005);
    transform-origin: 0%;
    opacity: 0;
  }
  to {
  }
}

.slide-enter-active {
  /* & span,
  & p, */
  & a,
  & img,
  & input,
  /* & td,
  & th > *, */
  & .btn,
  & .tab {
    animation-name: elementsInitial;
    animation-timing-function: ease;
    animation-duration: 0.6s;
  }
}

.slide-leave-active {
  /* & span,
  & p, */
  & a,
  & img,
  & input,
  /* & td,
  & th > *, */
  & .btn,
  & .tab {
    animation-name: elementsDisappear;
    animation-timing-function: ease;
    animation-duration: 0.6s;
  }
}

@keyframes elementsInitial {
  from {
    transform: translateX(0.3em) scaleX(1.005);
    transform-origin: 0%
  }
  to {
  }
}

@keyframes elementsDisappear {
  from {}
  to {
    transform: scaleX(1.005);
    transform-origin: 0%
  }
}

/* 
@keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
}
@keyframes scaleDown {
	from { }
	to { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
} */
