$scale: 1.0012;
$translate: 0.28vw;
$element-translate: 0.14em;

.slide-enter-active {
  animation: move-from-right 0.5s ease both;
}
.slide-leave-active {
  animation: move-to-left 0.2s ease-in-out both;
}

@keyframes move-to-left {
  from {
  }
  to {
    transform: translateX(-$translate) scaleX($scale);
    transform-origin: 0%;
    opacity: 0;
  }
}

@keyframes move-from-right {
  from {
    transform: translateX($translate) scaleX($scale);
    transform-origin: 0%;
    opacity: 0;
  }
  to {
  }
}

.slide-enter-active {
  & a,
  & img,
  /* & input, */
  & .btn,
  & .tab {
    animation-name: elements-initial;
    animation-timing-function: ease;
    animation-duration: 0.6s;
  }
}

.slide-leave-active {
  & a,
  & img,
  & .btn,
  & .tab {
    animation-name: elements-disappear;
    animation-timing-function: ease;
    animation-duration: 0.6s;
  }
}

@keyframes elements-initial {
  from {
    transform: translateX($element-translate);
    transform-origin: 0%;
  }
  to {
  }
}

@keyframes elements-disappear {
  from {
  }
  to {
    transform: translateX(-$element-translate);
  }
}

/*
@keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
}
@keyframes scaleDown {
	from { }
	to { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
} */

.left-move,
.right-move,
/* apply transition to moving elements */
.left-enter-active,
.right-enter-active,
.left-leave-active,
.right-leave-active {
  transition: all 0.25s ease;
}

.left-enter-from,
.right-enter-from,
.left-leave-to,
.right-leave-to {
  filter: opacity(0) blur(2px);
}
.left-enter-from {
  transform: translateX(-2%);
}
.left-leave-to {
  transform: translateX(2%);
}
.right-enter-from {
  transform: translateX(2%);
}
.right-leave-to {
  transform: translateX(-2%);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.left-leave-active,
.right-leave-active {
  @apply absolute left-0 right-0 -z-10;
}
