.slide-leave-to {
  /* animation: moveToLeft 0.2s ease-in-out both; */
  /* animation: scaleDown .7s ease both; */
}
.slide-enter-from {
  /* animation: moveFromBottom .6s ease both; */
  /* animation: moveFromRight 0.5s ease both; */
}

.slide-enter-active,
.slide-leave-active {
  /* position: absolute */
}
.slide-enter-active {
  animation: moveFromRight 0.5s ease both;
}
.slide-leave-active {
  animation: moveToLeft 0.2s ease-in-out both;
}

@keyframes moveToLeft {
  from {
  }
  to {
    transform: translateX(-1%);
    opacity: 0;
  }
}

@keyframes moveFromRight {
  from {
    transform: translateX(1%);
    opacity: 0;
  }
  to {
  }
}
/* 
@keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
}
@keyframes scaleDown {
	from { }
	to { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
} */
