.custom-typography {
  @apply prose prose-base lg:prose-lg xl:prose-xl prose-slate dark:prose-invert max-w-none;

  @apply prose-pre:bg-gbase-900 prose-pre:text-gbase-50;

  :where(li > p):not(:where([class~="not-prose"] *)) {
    margin: 0;
  }

  :where(pre):not(:where([class~="not-prose"] *)) {
    @apply rounded-xl;
  }

  :where(ul[data-type="taskList"]):not(:where([class~="not-prose"] *)) {
    @apply pl-1.5;
    list-style-type: none;

    & > li {
      @apply flex items-baseline gap-2;

      & p {
        @apply my-0;
      }
    }
  }

  mark {
    @apply bg-warning dark:bg-gbase-200 rounded-sm;
  }

  &.ssr {
    p:not(:where([class~="not-prose"] *)) {
      min-height: 2rem;
    }
  }
  img {
    @apply my-4;
  }
}
